/*Global*/
*{
  margin: 0;
  padding: 0;
}

body{

}

/*Nav-bar*/
.navbar{
  /* background-color: #c72467; */
  background-image: linear-gradient(to right, #c72467, #F94892);
  padding: 0 !important;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.navbar-brand img{
  height: 50px;
  padding-left: 70px;
}

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a{
  color: #ffffff !important;
  font-weight: 600;
  text-align: center;
}

/* #navigation a:hover{
  text-decoration: underline;
  height: 5px;
} */
#navigation a:hover{
  /* text-decoration: underline; */
  border-bottom: 2px solid #fff;
}

.active{
  border-bottom: 2px solid #fff;
}

/* Banner Section */
#banner{
  background-image: linear-gradient(to right, #c72467, #F94892);
  color: #fff;
}

.banner-content{
  margin-left: 100px;
}

.school-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

#img-fluid-banner{
  width: 500px;
  margin-top: 30px;
}

.bottom-img{
  width: 100%;
  margin-top: -50px;
}

#navigation{
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Home - Overview */
#overview p{
  font-size: 1.2rem;
}
#img-fluid-logo{
  width: 350px;
}

#overview .btn-default{
  background-image: linear-gradient(to right, #c72467, #F94892);
  color: #ffffff;
  border-radius: 20px;
}

#overview .btn-default:hover{
  background-image: linear-gradient(to right, #fff, #fff);
  border-color: #c72467;
  color: #000000;
  font-weight: 600;
  border-radius: 20px;
}

.overview-content{
  margin-top: 60px;
}

.hr-line{
  width: 10%;
  background-color: #c72467;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
}

#overview a{
  color: #fff;
}

#overview a:hover{
  color: #000;
  text-decoration: none;
}

/* Home - Teaching Learning Approaches */
#teaching{
  padding: 50px 10px;
  /* background-color: #FFF2F9; */
  background-color: #F3F4F5;
  padding-bottom: 100px;
}

#teaching .teaching-title{
  padding-bottom: 20px;
}

#teaching .teaching-title h1{
  font-size: 35px;
}

#teaching .teaching-learning{
  /* background-color: rgba(199, 35, 103, 0.2); */
  background-color: #FAB9D7;
  margin-top: 10px;
}

.fa-person-chalkboard{

}


/* About Page */
#summary p{
  font-size: 15px;
  line-height: 1.5rem;
}

#summary p.collapse:not(.show){
  height: 100px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary p.collpasing{
  min-height: 100px !important;
}

#summary a.collapsed:after{
  content: 'Read more';
}

#summary a:not(.collapsed):after{
  content: 'Read less';
}

#about-overview .overview-title{
  margin-top: 20px;
}

/* About - Experts Teachers */
#experts-teachers{
  background-color: #F3F4F5;
  padding-bottom: 10px;
}
#experts-teachers h3{
  font-size: 26px;
  color: #333;
  font-weight: bold;
}

#experts-teachers img{
  margin-top: -50px;
}

#experts-teachers .icon{
  font-size: 26px;
  color: #555;
}

#experts-teachers p{
  font-weight: 400;
}

#experts-teachers .card{
  border-radius: 0;
  box-shadow: 3px 3px 5px #555;
  margin-top: 50px;
  /* transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in; */
}

#experts-teachers .card:hover{
  background: #c72467;
  color: #fff;
  border-radius: 5px;
  border: none;

}

#experts-teachers .card:hover h3, #experts-teachers .card:hover .icon{
  color: #fff;
}

/* About - Carousel */
#carousel{
  /* background-image: linear-gradient(to right, #c72467, #F94892); */
}

.carousel-item {
    padding: 7% 15%;
}

/* Courses */
#courses .card-img-top{
  height: 200px;
}

.card-margin{
  margin-top: 20px;
}

#courses p.collapse:not(.show){
  height: 100px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#courses p.collpasing{
  min-height: 100px !important;
}

#courses a.collapsed:after{
  content: 'Read more';
}

#courses a:not(.collapsed):after{
  content: 'Read less';
}


/* Contact */
.bg-theme{
  background-color: #c72467 !important;
}

.carousel-control-prev, .carousel-control-next{
  filter: invert(100%);
}

/* .card-contact{
  margin-left: -150px;
} */

.card-contact h1{
  color: #fff;
  font-size: 30px;
  position: relative;
  margin-bottom: 40px;
}

.card-contact h1::before{
  content: '';
  height: 3px;
  width: 80px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
}

.icon-media{
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.text-content{
  font-size: 15px;
}

/* Footer */
.bg-hr{
  background-color: #c72467;
}

.page-footer{
  padding-top: 5px;
  font-size: 15px;
}

.footer-copyright{
  color: #fff;
  font-size: 13px;
}
.footer-span{
  color: #c72467;
}
